8.Src/BengZhan/comReport/5/ds5.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="ds5" targetNamespace="http://tempuri.org/ds5.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/ds5.xsd" xmlns:mstns="http://tempuri.org/ds5.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tbRep">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="field1" type="xs:string" />
				<xs:element name="field2" type="xs:string" />
				<xs:element name="field3" type="xs:string" />
				<xs:element name="field4" type="xs:string" />
				<xs:element name="field5" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>